<div class="col-md-6 offset-md-3">
  <div class="user-box col-md-12 bg-light">
    <div class="user-box-title">
      <h3>User Profile
      <span class="float-right"> <%= link_to 'Go Back', root_path, class: "btn btn-primary" %> </span></h3>
    </div>
    <div class="user-box-form col-md-10 offset-md-1">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>
