// Place all the styles related to the account::tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tickets-box {
  padding: 30px 40px 20px 40px;
  border: 1px solid #e0e4ef;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
}

.tickets-box-title {
  color: #3d405c;
  margin-bottom: 20px;
}

.tickets-box-title h3 {
}

.tickets-box-table {
  margin: 30px 0px;
}

.table-striped{
  font-size: 15px;
}

.table {
  text-align: center;
}

.table td:nth-child(n+3):nth-child(-n+4){
  text-align: left;
}

.tickets-box-form {

}

.col-form-label {
  font-size: 18px
}

.tickets-box-footer {
  border-top: 1px solid #e0e4ef;
}

.ticket-details {
  border-right: 1px solid black;
}
.ticket-feed {
}

.ticket-show-title, .h3 {
  color: #495057;
  border-bottom: 1px solid;
  margin-bottom: 25px;
}

.col-form-label, .ticket-details-dates{
  color: #495057;
}

.ticket-details-dates {
  font-size: 12px;
}

.ticket-feed-overflow {
  overflow: auto;
  height: 700px;

}

.ticket-log {
  margin-bottom: 20px
}

.ticket-log-header{
}

.ticket-log-content {
  border: 1px solid #e0e4ef;
  border-radius: 10px;
  padding: 20px;
}
