.content {
  margin-top: 68px;
  min-height: 100%;
}

.nav-divider{
  font-size: 18px;
  padding-top: 10px;
}

.nav-divider a, .nav-item a {
  text-decoration: none;
}

.nav-item {
  padding-left: 5px;
  padding-top: 5px;
  font-size: 15px;
}

.manager-sidebar{
  border-right: 1px solid #e6e6f2;
}

.manager-content {
  padding-top: 20px;
  padding-left: 50px;
}
