<div id="manager-sidebar" class="nav-left-sidebar">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <ul class="navbar-nav flex-column">
        <li class="nav-divider">
          <a href="#" class="nav-link-active">
            <b>Dashboard</b>
          </a>
        </li>
        <li class="nav-divider">
          <a href="#" class="nav-link-active">
            <b>Tickets</b>
          </a>
        </li>
        <li class="nav-item">
          <div class="">
            <ul class="navbar-nav flex-column">
              <li class="nav-item">
                <%= link_to manager_tickets_path(q: "all"),class: "nav-link-active" do %>
                  All Tickets <span class="badge badge-pill badge-primary">999+</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to manager_tickets_path(q: "opened"), class: "nav-link-active" do %>
                  Opened Tickets <span class="badge badge-pill badge-primary">999+</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to manager_tickets_path(q: "assigned"), class: "nav-link-active" do %>
                  Assigned to Me <span class="badge badge-pill badge-primary">999+</span>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-divider">
          <%=  link_to manager_kinds_path, class: "nav-link-active" do%>
            <b>Manage Kinds</b>
          <% end %>
        </li>
        <li class="nav-divider">
          <b>Users</b>
        </li>
        <li class="nav-divider">
          <b>Groups</b>
        </li>
        <li class="nav-divider">
          <b>Statuses</b>
        </li>
      </ul>
    </nav>
  </div>
</div>
