<div id="manager-sidebar" class="nav-left-sidebar">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <ul class="navbar-nav flex-column">
        <li class="nav-divider">
          <a href="#" class="nav-link-active" data-toggle="collapse" aria-expanded="false" data-target="#tickets-submenu" aria-controls="tickets-submenu">
            <b>Tickets</b>
          </a>
        </li>
        <li class="nav-item">
          <div id="tickets-submenu" class="submenu collapse">
            <ul class="navbar-nav flex-column">
              <li class="nav-item">
                All Tickets
              </li>
              <li class="nav-item">
                Opened Tickets
              </li>
              <li class="nav-item">
                Assigned to Me
              </li>
            </ul>
          </div>          
        </li>
        <li class="nav-divider">
          <b>Manage Kinds</b>
        </li>
        <li class="nav-divider">
          <b>Users</b>
        </li>
        <li class="nav-divider">
          <b>Groups</b>
        </li>
        <li class="nav-divider">
          <b>Statuses</b>
        </li>
      </ul>
    </nav>
  </div>
</div>
